@import '../../../scss/abstracts';

.confirmationModal {
    position: fixed;
    top: auto;
    width: calc(100% - 40px);
    max-width: 600px;
    min-height: 260px;
    height: auto;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 24px;
    z-index: 2;
    opacity: 1;
    box-sizing: border-box;
    border-radius: 8px;

    &__title {
        color: white;
        &Container {
            background: $secondary-color;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__background {
        left: 0;
        position: fixed;
        background: rgba(0,0,0,.6);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    &__content {
        margin-top: 64px;
    }

    &__button {
        width: spacing(xxl);
        padding: 8px 0;
        background-color: $secondary-color;
        color: white;
        border-radius: 8px;
        box-shadow: 0;
        border: none;
        border: 2px solid $secondary-color;
        outline: none;
        &:nth-child(2) {
            background: $white-color;
            color: $secondary-color;
            margin-left: spacing();
        }
        &Container {
            width: 100%;
            height: 32px;
            position: absolute;
            bottom: 32px;
            left: 0;
            box-sizing: border-box;
        }
    }
}