@import '../../../../scss/abstracts';

.communityList {
    color: white;
    position: relative;
    top: 0;
    @include background-dots(
        $color: rgba(black, 0.9) rgba($secondary-color, 0.9),
        $size: 4px,
        $gutter: 20px,
      );
      background: transparent;
      min-height: 80vh;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: darken;
      padding-top: spacing(big);
      @include flexBox(column, center, center);
      justify-content: initial;

      &__title {
        @include fontGenerate(Subtitle);
        margin-bottom: spacing(large);
      }

      &__list {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.66); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.66);
        width: 400px;
        height: 60px;
        background: rgba(255,255,255,1);
        border-radius: 4px;
        margin-bottom: spacing();
        @include flexBox(row, center, center);
        justify-content: initial;
        position: relative;
        padding: 0 spacing();
      }

      &__button {
          &Container {
              @include flexBox(row, center, center);
              position: absolute;
              right: spacing();
          }

          &:first-of-type {
              margin-left: 12px;
          }
      }

      &__name {
          @include fontGenerate(Text);
          color: black;
          font-size: 20px;
      }

      a {
        text-decoration: none;
      }

      &__addButton {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.1); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.1);
          height: 60px;
          width: 60px;
          border-radius: 100%;
          font-size: 36px;
          font-weight: bolder;
          @include flexBox(column, center, center);
          color: $white-color;
          background: $secondary-color;
          outline: none;
          border: none;
          cursor: pointer;
          &Container {
            position: fixed;
            bottom: 20px;
            right: 20px;
          }
      }
}