@import '../../../../scss/abstracts';

.addCommunity {
    color: white;
    position: relative;
    padding: 0 12px;
      background:  rgba(39, 63, 114, 0.9) url( "/assets/img/community.jpg");
      min-height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      box-sizing: border-box;
      background-size: cover;
      background-blend-mode: darken;
      padding: 0 12px;
      @include flexBox(column, center, center);


      &__container {
        height: 520px;
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
        max-width: 576px;
        background: white;
        box-shadow: 15px 15px 50px #1c1c1c;
      }

      &__search {
        width: 100%;
        padding: 0 12px;
        margin-bottom: spacing(normal);
      }

      &__input {
        height: spacing(extra);
        padding: 0 12px;
        border: 2px solid $secondary-color;
        width: 100%;
        margin-bottom: spacing();
      }

      &__imageContainer {
        height: 140px;
        background: $secondary-color;
        margin-bottom: spacing();
        @include flexBox(column, center, center);
      }

      &__title {
        @include fontGenerate(Subtitle);

      }

      &__list {
        margin-bottom: spacing(normal);
        @include flexBox(row, center, center);
        text-align: left;
        border-bottom: 2px solid $secondary-color;
        padding: spacing(normal);
        justify-content: start;


        &Container {
            overflow: hidden;
          height: 240px;
          width: 100%;
          max-height: 70%;
          padding: spacing();
          overflow-y: auto
        }

      }

      &__button {
          color: white;
          background: $secondary-color;
          border-radius: 5px;
          border: none;
          height: 40px;
          width: 40px;
          margin-top: spacing(small);
          &Container {
            width: 100%;
              @include flexBox(row, center, center);
              justify-content: end;
          }

          &:hover {
            background: rgba($secondary-color, .9);
            transition: .2s ease-in-out;;
          }

          &:first-of-type {
              margin-left: 12px;
          }
      }

      &__name {
          @include fontGenerate(Text);
          color: black;
          font-size: 20px;
      }

      &__message {
        color: red;
      }

      a {
        text-decoration: none;
      }

      &__addButton {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          height: 50px;
          width: 100%;
          border-radius: 10px;
          font-size: 20px;
          @include flexBox(column, center, center);
          color: $white-color;
          background: $secondary-color;
          outline: none;
          border: none;
          margin-bottom: spacing();
          &:hover {
            background: rgba($secondary-color, .9);
            transition: .2s ease-in-out;
          }
          cursor: pointer;
          &Container {
            padding: 0 spacing();
            background: white;
            right: 20px;
          }
      }
}