@import '../../../scss/abstracts';

.loginView {
    @include adaptive;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    @include flexBox(column, center, center);

    &__logo {
        &Title {
            @include fontGenerate(Subtitle-xl);
            font-size: spacing(big);
            font-weight: bolder;
            color: $secondary-color;
            margin-bottom: spacing(large);
        }

        &Container {
            @include adaptive;
            height: auto;
            margin-bottom: spacing(big);
        }

        &Image {
            @include responsive-image;

        }
    }

    &__error {
        color: red;
        margin-top: spacing();
        font-size: spacing(normal);
    }

    &__input {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;
        max-width: 476px;
        height: spacing(extra);
        font-size: 16px;
        border: 2px solid rgba($secondary-color, 1);
        padding: 8px;
        margin-bottom: spacing();
        background: white;
        &Container {
            width: 100%;
            @include flexBox(column, center, center);
        }
    }

    &__button {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;
        height: spacing(big);
        font-size: 24px;
        background: $secondary-color;
        outline: none;
        border: none;
        color: white;

        &:hover {
            transition: .2s ease-in-out;
            background: rgba($secondary-color, .9);
            cursor: pointer;
        }
              
        &Container {
            width: 100%;
            max-width: 476px;
        }
    }
}